<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>aop</title>
    <script src="/static/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
            $.ajax({
                url:'/aop/test',
                method: 'get',
                type:'json',
                success:function(result){
                    console.log(result)
                },
                error: function(e){
                    console.log(e)
                }
            });
        })
    </script>
</head>
<body>
aop demo

</body>
</html>